body {
  background-color:#FF9500;
    width: 600px;
    boarder:2px solid red;
    padding:2px 35px 30px 30 px;
    margin: 0 auto;

}

h1{
  color: purple;
}
img{
    width:50%;
    margin:0 auto;
    padding: 10px 20px 30px;

}

